*{
    margin: 0;
}

.header-bg {
    position: relative;
    background-image: url("assets/archive.JPG");
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.header-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.header-bg > * {
    position: relative;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 24px;
    padding-top: 30px;
}

.logo{
    width: 100px;
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

.hero{
    position: absolute;
    bottom: 30px;
    left: 24px;
}

.hero-text{
    margin-bottom: 30px;
    text-align: left;
}

.hero-text h1{
    color: white;
}

.hero-click{
    display: flex;
    margin-bottom: 30px;
}

.hero-click a{
    text-decoration: none;
    color: hotpink;
    background-color: black;
    border: 1px solid white;
    padding: 2px 10px;
}

.archive{
    padding: 0 32px;
}

.archive-title{
    margin-top: 30px;
    text-align: center;
}

.archive-bg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.archive-item {
    margin-top: 30px;
}

.archive-photos{
 
}

.archive-photos img{
    width: 100%;
}

.archive-click{
    margin-top: 20px;
    text-align: center;
}

.archive-click a{
    color: white;
    background-color: black;
    text-decoration: none;
    border: 1px solid hotpink;
    padding: 2px 10px;
}

.article{

}

.article-item{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.article-item img{
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
}

footer{
    padding: 0 24px;
    background-color: black;
    height: 100px;

    align-items: center;
    justify-content: right;
    display: flex;
}

.footer-text{
    color: white;
    text-align: right;
}